
.button{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:  #34C94B;
    border: none;
    background-color: inherit;
    font-family: Poppins, sans-serif;

}
.p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:  #ffffff;
    font-family: Poppins, sans-serif;
}
.arrow{
    display:flex;
    justify-content: space-between;
}
.leftNavigation {
    cursor: pointer;
    position: absolute;
    left:0px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .rightNavigation {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
 .swiperSlide {
    height: 20rem; /* Ensures slides take full height */
  }