
.button{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:  #34C94B;
    border: none;
    background-color: inherit;
    font-family: Poppins, sans-serif;

}
.wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
.main{
    margin-bottom: 25px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
  }
  .carousel{
    margin-bottom: -50px ;
  }